<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create App</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-form">
    <form action="" method="post">
        <h1>New App</h1>
        <div class="content">
            {{if .Error}}
            <div style="color: red;">{{.Error}}</div>
            {{end}}
            <div class="input-field">
                <input type="text" name="name" placeholder="App Name" autocomplete="nope">
            </div>
            <div class="input-field">
                <input type="text" name="redirect_uris" placeholder="Redirect URIs(comma seperated)" autocomplete="nope">
            </div>
        </div>
        <div class="action">
            <a href="/user/login" class="btn">Sign in</a>
            <button type="submit">Register</button>
        </div>
    </form>
</div>

</body>
</html>